/* CSS reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    width: 100%;
}

/* Navbar section */
.navbar{
    z-index: 10;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(53, 50, 50, 0.501);
    z-index: 2;
}

/* Navbar Logo design */
.logo{
    display: flex;
    cursor: pointer;
}
.logo img{
    height: 60px;
}
.logo h1{
    display: inline;
    color: white;
    display: block;
    margin: 10px 0px;
    padding: 10px 0px;
}

/* Nav items */
.item{
    width: 600px;
    /* background: yellow; */
    display: flex;
    justify-content: space-around;
    
}
.item ul{
    display: flex;
}

.item li{
    list-style: none;
}
.item li a{
    color:rgb(238, 232, 232);
    text-decoration: none;
    display: block;
    margin: 0 20px;
    padding: 10px 20px;
    border-radius: 20px;
}
.item li a:hover{
    background: rgb(238, 232, 232);
    color: rgb(24, 23, 23);

}

/* Home section */

/* background image */
.home{
    background: url('bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.9;
    z-index: -1;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Home Texts */
.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
    box-shadow: 2px 2px 30px black;
    background: linear-gradient(to right, rgba(150, 145, 145, 0.2), rgb(172, 164, 164, 0.2));
    backdrop-filter: blur(4px);
    border-radius: 10px;
}
.home h1{
    /* line-height: 50px; */
    font-size: 40px;
    padding: 10px;
    letter-spacing: 3px;
    
    color: rgb(221, 207, 207);
    text-align: center;
}
.home p{
    letter-spacing: 1px;
    padding: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.btn{
    border-radius: 20px;
}
.btn button{
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 20px;
    background: linear-gradient(to right, rgba(192, 192, 192, 0.2), rgba(95, 92, 92, 0.2));
    backdrop-filter: blur(4px);
    font-size: 18px;
    color: white;
    border: none;
    box-shadow: 2px 2px 30px black;
}
.btn button:hover{
    cursor: pointer;
}

/* Services section */
.service{
    width: 100%;
    height: 526px;
    position: absolute;
    top: 100%;
    background: rgba(165, 116, 116, 0.212);
}

.service h1{
    padding: 15px 0px;
    text-align: center;
    background: rgb(233, 75, 47);
    margin-top: 10px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    /* background: red; */
    width: 100%;
    margin-top: 20px;
}

.card{
    height: 400px;
    width: 25%;
    box-shadow: 5px 5px 20px rgba(54, 51, 51, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.cards .card img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.cards .card p{
    padding: 15px;
    text-align: center;
}
.cards .card h1{
    padding-top: 15px;
    text-align: center;
    background: inherit;
}

/* Contact Section */
.contact{
    position: absolute;
    top: 180%;
    height: 400px;
    width: 100%;
    background: rgba(189, 218, 247, 0.705);
    display: flex;
    align-items: center;
    justify-content: center; 
}

.contact .bg{
    position: absolute;
    top: 0;
    height: 400px;
    width: 100%;
    background: url('contact.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}
.form{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 320px;
}

.form label{
    font-size: 18px;
}

.form input, .form textarea{
    margin: 10px 0;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 16px;
}

/* footer section */
.footer{
    position: absolute;
    top: 241%;
    height: 50px;
    width: 100%;
    background: rgb(6, 2, 20);
    color: rgb(202, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
}